<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polling Meter Login</title>
    <link rel="stylesheet" type="text/css" href="/static/d.css">
    <style ="stylesheet">
    a{text-decoration:none;}
    </style>
</head>
<body width="100%">
	<div class="one">
        <div style="position:absolute" height="65" rightmargin = "594">
	        <img src="/static/polling.png" height="60" width="185" >
        </div>

	    <p ALIGN="RIGHT">
            <b><a href="/">HOME</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/about">ABOUT US</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/why-us">WHY US</a></b>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	    </p>
	</div>
    <div class="two">
        <center>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
            <h3>This is just a demonstration page. Refer to our Github repository for more information.</h3>
            <a href="https://github.com/amartya4256/Polling-Meter">Click here to visit our Github repository.</a>
        </center>

    </div>
<div class="three">
    <center>
        <p ALIGN="center">
            <a style="color:white" href="/learn">Learn How We Work</a>
            &nbsp;|&nbsp;
            <a style="color:white" href="/help">Help Center</a>
            &nbsp;|&nbsp;
            <a style="color:white" href="/policies">Terms and Conditions</a>
        </p>
        <p style="font-size:20">Polling Meter</p>
        <p style="font-size:10">Copyright 2018 Polling Meter | All Rights Reversed
        </p>
    </center>
</div>
</body>
</html>