<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/d.css">
<title>Polling Meter</title>
<style ="stylesheet">
a{text-decoration:none;}
</style>
</head>

<body width="100%">
	<div class="one">
<div style="position:absolute" height="65" rightmargin = "594">
	<img src="/static/polling.png" height="60" width="185" >
</div>

	<p ALIGN="RIGHT">
	<b><a href="/">HOME</a>
	&nbsp; &nbsp; &nbsp;
	<a href="/about">ABOUT US</a>
	&nbsp; &nbsp; &nbsp;
        <a href="/why-us">WHY US</a></b>
	&nbsp; &nbsp; &nbsp;
	<b><a href="/logout">LOG OUT</a></b>
	&nbsp; &nbsp; &nbsp;
	</p>
	</div>
<div class="two">
    <div style="position:absolute">
    <p style="font-size:18; color:#AF34D5; font-family: 'comic sans MS'" >Welcome {{current_user.Name}}!</p>
        </div>
    <center>
		    &nbsp;
            <br/>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
            &nbsp;
            <br/>
		<H1 style="size=100px">THANK YOU FOR VOTING</H1>
	</center>
</div>
</div>
<div class="three">
<center>
<p ALIGN="center">
	<a style="color:white" href="onclick">Learn How We Work</a>
	&nbsp;|&nbsp;
	<a style="color:white" href="onclick">Help Center</a>
	&nbsp;|&nbsp;
	<a style="color:white" href="onclick">Terms and Conditions</a>
</p>
<p style="font-size:20">Polling Meter</p>
<p style="font-size:10">Copyright 2018 Polling Meter | All Rights Reversed
</p>
</center>
</div>
</body>
</html>