<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polling Meter Login</title>
    <link rel="stylesheet" type="text/css" href="/static/d.css">
    <style ="stylesheet">
    a{text-decoration:none;}
    </style>
</head>
<body width="100%">
	<div class="one">
        <div style="position:absolute" height="65" rightmargin = "594">
	        <img src="/static/polling.png" height="60" width="185" >
        </div>

	    <p ALIGN="RIGHT">
            <b><a href="/">HOME</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/about">ABOUT US</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/why-us">WHY US</a></b>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	    </p>
	</div>
<div class="two">
<center>
    <br><br> <br><br>
<h5>The idea of Polling Meter came from the concept of Digital India, instilled by our prime minister Narendra Modi.<br>
If all the systems are being digitised, then why not the Indian Elections?<br>
It would save a lot of money and make it way easy, for the EC and the citizens as well as. <br>
Imagine a place of riot during the Election days. People fear walking to the EVM. With Polling meter in command, they can vote from home. <br>
Many people are away from home during election day. Well! we got it all covered.<br>
Making your votes more secure and more easy. Check the Polling Meter.<br>
    Keep a record of actually who and how many voted, with us.<h5>
<br><br><br><br>
</center>
</div>
<div class="three">
<center>
<p ALIGN="center">
	<a style="color:white" href="/learn">Learn How We Work</a>
	&nbsp;|&nbsp;
	<a style="color:white" href="/help">Help Center</a>
	&nbsp;|&nbsp;
	<a style="color:white" href="/policies">Terms and Conditions</a>
</p>
<p style="font-size:20">Polling Meter</p>
<p style="font-size:10">Copyright 2018 Polling Meter | All Rights Reversed</font>
</p>
</center>
</div>
</body>
</html>