<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polling Meter Login</title>
    <link rel="stylesheet" type="text/css" href="/static/d.css">
    <style ="stylesheet">
    a{text-decoration:none;}
    </style>
</head>
<body width="100%">
	<div class="one">
        <div style="position:absolute" height="65" rightmargin = "594">
	        <img src="/static/polling.png" height="60" width="185" >
        </div>

	    <p ALIGN="RIGHT">
            <b><a href="/">HOME</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/about">ABOUT US</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/why-us">WHY US</a></b>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	    </p>
	</div>
<div class="two">
<center><br>
</center>
<div>
<center>
<p align="center"><h2> ABOUT US</h2><h5>Polling Meter is a user-friendly digital platform, which brings a revolution to the Indian Election system by replacing the decentralised offline EVM with a centralised web application.
Our mission is "To provide the easiest and less budget voting system to the Election Comission of the country. The benefits of using Polling Meter can be visualised as it provides an election platform to all the citizens, available anywhere, no matter where they are.
It also provides centralised server for making the post counting easy. This system can help the voting to be more fair as it is free from any kind of vulnerabilities and our team is working 24*7 to tackle any new vulnerabilty yet to come.
The expertise of the system is only available to the government, as it would require the database of aadhar card to select the citizens elligible for voting and use their data to perform the polling.
The system uses OTPs for the user logins and has been tested again and again in different conditions and is assured by our team to be free of any bugs or disorders. Hence, all the manipulations and calculation done by the engine is 100% accurate.</h5>
<align="center"><h2> OUR TEAM</h2>
<h5>The developer team includes 5 B.Tech students from Greater Noida Institute of Technology, Greater Noida.
<br>
1. Utkarsh Saxena (Designer of the Application)<br>
2. Amartya Parijat (Back End Developer)<br>
3. Apoorv Bhardwaj (Front End and Back End Developer)<br>
4. Anugrah Bhatt (Front End and Back End Developer) <br>
5. Ayushi Batham (Front End and Back End Developer)<br><br>
    *Aman Mishra(Manual Tester and debugger)</h5>
</center>
</div>
</div>
<div class="three">
<center>
<p ALIGN="center">
	<a style="color:white" href="/learn">Learn How We Work</a>
	&nbsp;|&nbsp;
	<a style="color:white" href="/help">Help Center</a>
	&nbsp;|&nbsp;
	<a style="color:white" href="/policies">Terms and Conditions</a>
</p>
<p style="font-size:20">Polling Meter</p>
<p style="font-size:10">Copyright 2018 Polling Meter | All Rights Reversed</font>
</p>
</center>
</div>
</body>
</html>