<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.aadharid.label }}<br>
            {{ form.aadharid(size=32) }}
             {% for error in form.aadharid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.otp.label }}<br>
            {{ form.otp(size=32) }}
            {% for error in form.otp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span style = "color : red;">{{message}}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.login() }}</p>
    </form>
</body>
</html>